# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- SQL
- Scala
- Java

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. SciPy
4. Matplotlib

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [21]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Gulnaz Sitdikova